.method {
  background-color: #f6f6f6;
}
.wy-nav-content {
  max-width: 1200px;
}
.wy-side-nav-search {
  background: #2f455e;
}

.wy-menu-vertical a:hover {
    background-color: #3b4f63;
}
.wy-menu-vertical a:active {
    background-color: #447da2;
}
.wy-nav-side {
    background: #283340;
}

div[id^='module-awspice.'] h2 {
  background: #256a98;
  text-transform: capitalize;
  font-size: 28px;
  width: 116%;
  padding: 20px 8%;
  color: #fff;
  margin-left: -8%;
}
